<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Document Generator</title>
  <link rel="stylesheet" href="static/styles.css">
  <script src="static/script.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <div class="container">
    <h1>Legal Document Generation Form</h1>
    <form method="POST">
      <label>Reuse details for Petitioner Address:
        <input type="checkbox" name="petitioner_address_checker" id="petitioner_address_checker">
      </label>
      {% for field in fields %}
        <div class="form-group">
          <label for="{{ field.name }}">{{ field.label }}:</label>
          {% if field.datatype == 'text' %}
            <input type="text" name="{{ field.name }}" id="{{ field.name }}" required>
          {% elif field.datatype == 'number' %}
            <input type="number" name="{{ field.name }}" id="{{ field.name }}" required oninput="convertToWords(this)">
            <div id="words-{{ field.name }}" class="words-output"></div>
          {% elif field.datatype == 'date' %}
            <input type="date" name="{{ field.name }}" id="{{ field.name }}" required>
          {% elif field.datatype == 'textarea' %}
            <textarea name="{{ field.name }}" id="{{ field.name }}" required>{{ field.default }}</textarea>
          {% endif %}
        </div>
      {% endfor %}
      <button type="button" id="clear_btn">Clear All</button>
      <button type="submit" formaction="/download-document/base-template">Generate Main Document</button>
      <button type="submit" formaction="/download-document/docket-template">Generate Docket</button>
      <button type="submit" formaction="/download-document/e-stamping-template">Generate E Stamping</button>
      <button type="submit" formaction="/download-document/Intex-template">Generate Intex</button>
      <button type="submit" formaction="/download-document/notice-to-all-respondants-template">Generate Notice to all Respondants</button>
      <button type="submit" formaction="/download-document/process-memo-template">Generate Process Memo</button>
      <button type="submit" formaction="/download-document/vakkalath-template">Generate Vakkalath</button>
    </form>
  </div>
</body>
</html>
